* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
body {
  background-color: rgb(11, 96, 67);
  font-family: "Oswald", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
  align-items: center;
}

.home-page-link {
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 0.9rem;
  color: #ffff;
  cursor: pointer;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 2.5rem;
  width: 2.5rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
  color: #ffff;
}

.btn-mobile-nav {
  pointer-events: auto;
  display: block;
  z-index: 9999;
}

.main-nav {
  background-color: #fa86c5;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.nav-open .main-nav {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.icon-mobile-nav[name="close-outline"],
.icon-mobile-nav[name="menu-outline"] {
  color: #ffff;
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.main-nav-list {
  flex-direction: column;
  gap: 4.8rem;
}

.hero-image {
  width: 100%; /* Full width of the viewport */
  height: auto; /* Maintain aspect ratio */
  max-height: 50vh; /* Limit the height to avoid taking the full viewport */
  object-fit: cover;
}

.hero-image-container {
  width: 100%;
}

.box {
  display: grid;
  & > * {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
  }
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  align-items: center;
  justify-items: center;
  background-color: #0b6043;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;

  padding: 1rem;
}

.logo {
  height: 7rem;
  width: 7rem;
}

#welcome {
  color: #ffff;
  text-align: center;
  font-size: 1rem;
}

.cta-btn {
  padding: 0.6rem;
  font-size: 0.6rem;
  margin-top: 1rem;
  background-color: #fe470a;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffff;
  border: none;
  cursor: pointer;
  margin-top: 0.4rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic-container {
  width: 100%;
}

.green-house-img {
  width: 100%;
}

.about-us-text {
  color: #ffff;
  margin: 1rem 2.5rem 0 2.5rem;
  text-align: justify;
  text-transform: uppercase;
}

.about-us-text p {
  font-size: 0.8rem;
}
.tertiary-heading {
  font-family: "Sacramento", cursive;
  color: #ffb0c9;
  font-size: 2.5rem;
  text-transform: none;
}

.flowers {
  padding: 0 5.2rem;
  background-color: #f7d8df;
  color: #0b6043;
}

.flower-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.flower-image {
  width: 100%;
}

.flower-content h2 {
  font-family: "Sacramento", cursive;
  text-transform: none;
  font-size: 3rem;
}

.flower-content {
  height: auto;

  text-transform: uppercase;
  text-align: justify;
  margin-bottom: 5rem;
}

.flower-container img {
  transition: all 0.4s;
}

.flower-container img:hover {
  transform: scale(1.1);
}

.meet-our-flowers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 1rem;
  padding: 4rem 2rem 1.5rem 2rem;
}

.meet-our-flowers {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  display: block;
  text-align: center;
  position: absolute;
  transform: translate(50%, -73%);
}

.span-flowers {
  text-transform: none;
  font-family: "Sacramento", cursive;
  font-style: normal;
  font-size: 7rem;
  text-align: center;
}

.choose-us {
  padding: 0 4.2rem;
}

.choose-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-us-container p {
  color: #ffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.choose-us-container h2 {
  color: #ffb0c9;
  font-family: "Sacramento", cursive;
  font-size: 2.8rem;
  margin-top: 3rem;
  align-self: flex-start;
}

.choose-us-container span {
  vertical-align: bottom;
  margin-right: 0.5rem;
  font-size: 1.9rem;
  color: #ffff;
}

.choose-us-container h3 {
  text-transform: uppercase;
}

.choose-us-container {
  color: #ffb0c9;
}
